# --------- pytorch --------- #
torch>=2.0
torchvision
lightning
torchmetrics
torch_geometric

# --------- hydra --------- #
hydra-core>=1.2.0
hydra-colorlog>=1.2.0
hydra-optuna-sweeper>=1.2.0

# --------- loggers --------- #
wandb
# neptune-client
# mlflow
# comet-ml

# --------- others --------- #
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
more_itertools
pandas
matplotlib
pot
ruff

# for python distribution
build
twine
pytest-cov

-f https://data.pyg.org/whl/torch-2.2.0+cu121.html
pyg_lib
torch_scatter
torch-cluster
