aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
antlr4-python3-runtime==4.9.3
attrs==26.1.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1764017116075/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1783505251992/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1783085363/work
colorlog==6.12.0
contourpy==1.3.3
cycler==0.12.1
filelock==3.32.0
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.6.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
hydra-colorlog==1.2.0
hydra-core==1.4.0.dev6
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1781620148/work
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
lightning==2.6.5
lightning-utilities==0.15.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.1
narwhals==2.24.0
networkx==3.6.1
numpy==2.5.1
omegaconf==2.4.0.dev13
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas==3.0.5
pillow==12.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1784661349/work
POT==0.9.7
propcache==0.5.2
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1781355972508/work/bazel-bin/python/dist/protobuf-7.35.1-cp314-abi3-macosx_11_0_arm64.whl#sha256=e964d86f88bee8364ff8e0b58da319983724d5cea49325e2e8af60894463e908
psutil==7.2.2
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1778103405/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pydantic-core_1778084354/work
Pygments==2.20.0
pyparsing==3.3.2
pyrootutils==1.0.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytorch-lightning==2.6.5
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1770223347902/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
rich==15.0.0
scikit-learn==1.9.0
scipy==1.18.0
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1784754640265/work
setuptools==83.0.0
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.13.0
torch-geometric==2.8.0.post1
torchmetrics==1.9.0
torchvision==0.28.0
tqdm==4.69.0
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing-inspection_1777105465/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
wandb @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_wandb_1784673410/work
xxhash==3.8.1
yarl==1.24.5
